body{
    margin:0px;
}

#navigation{
    z-index: 150;
}

.refreshButton{
    align-self: center;
}

#mainHeader{
    font-family: "papyrus";
    text-align: center;
    font-size: 45;
    color:black;
    padding-top: 250px;
    padding-bottom: 200px;
    padding-left: 25px;
    padding-right: 25px;
    margin:0px;
    background-image: url("surveyStatsBG.png");
    background-size: cover;
}
input[type=submit]{
    border-radius: 12px;
    background-color: bisque;
    color: black;
    font-weight: 600;
    font-variant: small-caps;
    font: italic;
    border: 2px solid black;
    padding: 14px 40px;
    font-size: 16px
}

input[type=submit]:hover {
    background-color: #d1bba1 ;
  }

h2{
    text-align: center;
}

.resultsRow1{
    display:flex;
    height: 25%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}
.resultsRow2{
    display:flex;
    max-height:25%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

button{
    border-radius: 12px;
    background-color: bisque;
    color: black;
    font-weight: 600;
    font-variant: small-caps;
    font: italic;
    border: 2px solid black;
    padding: 14px 10px;
    font-size: 16px;
}

button:hover {
    background-color: #d1bba1 ;
  }

#Google{
    width:100%; 
    max-width:30%; 
    position: relative; 
    left: 10px; 
    top: 0px; 
    z-index: -500;
}

#Apple{
    width:100%; 
    max-width:30%; 
    position: relative; 
    left: 10px; 
    top: 0px; 
    z-index: -500;
}

#Omnicom{
    width:100%; 
    max-width:30%; 
    position: relative; 
    left: 10px; 
    top: 0px; 
    z-index: -500;
}

#BOA{
    width:100%; 
    max-width:30%; 
    position: relative; 
    left: 10px; 
    top: 0px; 
    z-index: -500;
}

#CVS{
    width:100%; 
    max-width:30%; 
    position: relative; 
    left: 10px; 
    top: 0px; 
    z-index: -500;
}

#UHC{
    width:100%; 
    max-width:30%; 
    position: relative; 
    left: 10px; 
    top: 0px; 
    z-index: -500;
}
